button, .button-transparent, .button-black, .button-yellow {
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
    color: #191919;
    border-radius: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
  
.btn-icon {
    transform: rotate(45deg);
    font-size: 0.8rem;
    margin-left: 0.5rem;
    vertical-align: top;
    margin-top: 0.2rem;
}
  
.button-yellow {
    background-color: #F9D783;
}
.button-yellow:hover {
    background-color: #191919;
    color: #FFFFFF;
    transition: background-color 250ms, color 750ms;
}
  
.button-black {
    background-color: #191919;
    color: #FFFFFF;
}
.button-black:hover {
    background-color: #F9D783;
    color: #191919;
    transition: background-color 250ms, color 750ms;
}
  
.button-transparent {
    border: 1px solid #191919;
}
.button-transparent:hover {
    background-color: #F94D1C;
    border: 1px solid #F94D1C;
    color: #FFFFFF;
    transition: background-color 250ms, border 250ms, color 750ms;
}