.category-holder ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.category-holder p {
    display: inline;
}
.category-holder li {
    width: 100%;
    display: flex;
    gap: 0.3rem;
}

.gray-text {
    color: #5A5957;
}