.sidebar {
    margin-top: 12rem;
}

.sidebar input {
    background-color: #F3F3F3;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 2.5rem;
    padding-right: 1rem;
}

.side-container {
    border: 1px solid var(--gray-100);
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.side-container span {
    border-bottom: 2px solid #191919;
}

.input-holder {
    display: flex;
}

.input-button {
    background-color: #F3F3F3;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}